@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background: #000 !important;
}

body h2 {
  color: white;
}

.logo img {
  width: 30%;
}

main {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 40%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.question {
  font-size: 1.5rem;
}

.spnQtd {
  text-align: end;

}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 100%;
  text-align: start;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 10px !important;
  color: #000;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  text-align: center;
}

@media screen and (max-width: 991px) {
  main {
    width: 90%;
    height: 50%;
  }
}